#tab-body-1 {
  background-color: #EEEFEF;
  padding-left: 20%;
  padding-bottom: 3%;
  padding-top: 3%;
}

#bg-0 {
  background-color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 120%;
  text-align: center;
  text-decoration: underline;
  margin-top: -2%;
}

#bg-1 {
  background-color: #404040;
  color: #FFFFFF;
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 3%;
  font-size: 120%;
}

#bg-2 {
  background-color: #C0C0C0;
  color: #404040;
  padding-left: 10%;
  padding-bottom: 3%;
  padding-top: 3%;
  font-size: 120%;
}

#bg-3 {
  background-color: #FFFFFF;
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 3%;
  font-size: 120%;
}


#bg-4 {
  background-color: #404040;
  color: #FFFFFF;
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 3%;
  font-size: 120%;
}

#bg-5 {
  background-color: #EEEFEF;
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 3%;
  font-size: 120%;
}

#bg-6 {
  background-color: #404040;
  color: #FFFFFF;
  padding-left: 10%;
  padding-bottom: 3%;
  padding-top: 3%;
  font-size: 120%;
}

#bg-7 {
  background-color: #EEEFEF;
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 3%;
  font-size: 120%;
}
